<% provide(:title, 'Listing users') %>
<h2>Listing Users</h2>
<%= will_paginate %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td class="text-center"><%= link_to content_tag(:i, "edit", class: "material-icons"), edit_user_path(user) %></td>
        <td class="text-center">
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to content_tag(:i, "delete", class: "material-icons"), user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>