<header>
  <!-- Navigation. We hide it in small screens. -->
  <nav class="show-for-medium-up">
    <ul>
      <% if logged_in? %>
        <li><%= link_to 'Logout', logout_path, method: "delete" %></li>
        <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
        <li><%= link_to 'Current', current_user %></li>
        <li><%= link_to 'All', users_path %></li>
      <% else %>
        <li><a class="mdl-navigation__link" href="">Link</a></li>
        <li><%= link_to 'Sign up', signup_path %></li>
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Home', root_path %></li>
      <% end %>
    </ul>
  </nav>
  <i class="material-icons md-light" id="menu">menu</i>
  <!-- Title -->
  <h1>Strength Coach</h1>
</header>
<nav id="drawer">
  <!-- Title -->
  <h5>Strength Coach</h5>
  <ul>
    <% if logged_in? %>
      <li><%= link_to 'All', users_path %></li>
      <li><%= link_to 'Current', current_user %></li>
      <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
      <li><%= link_to 'Logout', logout_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Sign up', signup_path %></li>
      <li><a class="mdl-navigation__link" href="">Link</a></li>
    <% end %>
  </ul>
</nav>
<div id="obfuscator"></div>