<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<%= stylesheet_link_tag	'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag	'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag	'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag	'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<main>
			<% flash.each do |message_type, message| %>
				<%= content_tag :div, class: ["alert", "alert-#{message_type}"] do %>
					<%= message %>
					<%= link_to raw('&times;'), '#', class: "close" %>
				<% end %>
			<% end %>
			<div class="row">
				<div class="small-10 small-centered large-8 columns">
					<%= yield %>
				</div>
			</div>
		</main>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</body>
<script>
	$('#menu').click(function() {
		$('#drawer').show();
		$('#obfuscator').show();
	});

	$('#obfuscator').click(function() {
		$('#drawer').hide();
		$('#obfuscator').hide();
	});

	$(".close").click(function(e) {
	    e.preventDefault();
	    $(this).parent().hide();
	});
</script>
</html>